footer {
    background-color:white;
    height:60px;
    width:100%;
    border-top:1px solid #CCCCCC;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    position:absolute;
    justify-content:center;
    align-content:space-around;
}

footer p {
    margin:auto;
}
