header {
    display:flex;
    background-color:white;
    height:70px;
    width:100%;
    top:0;
    right:0;
    justify-content:left;
    border-bottom: 1px solid #CCCCCC;
    background-image: url("../images/hbnb.png");
    background-position: 20px;
    background-repeat: no-repeat;
}
